* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(248, 248, 248);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 90%;
}


/*NAVIGATION*/


/*BANNER*/
.banner {
    background-color: brown;
    background-image: url("./pexels-pixabay-220201.jpg");
    background-repeat: no-repeat;
    z-index: 999;
}

.banner .banner-overflow {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.banner,
.banner .banner-overflow {
    background-size: cover;
    width: 100%;
    
}

.banner .banner-overflow h1 {
    font-size: 400%;
    color: white;
    font-weight: 900;
    margin: 100px 0 50px;
    text-align: center;
    padding: 30px;
}

.banner .banner-overflow form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-bottom: 50px;
}

.banner .banner-overflow form .search-div input,
.banner .banner-overflow form .select-div select {
    padding: 10px 15px;
    border-radius: 7px;
    border: none;
}

.banner .banner-overflow form .search-div button {
    font-weight: 600;
    font-size: 110%;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.banner .banner-overflow form .search-div button:hover {
    background-color: black;
    color: white;
    padding: 8px 18px;
    border: 2px solid white;
}

/*Dropdown filter*/
.dropDownContainer {
    width: 200px;
    position: relative;
}
.dropDown {
    width: 100%;
    padding: 2px 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    background: white;
    border-radius: 5px;
}

.dropDown p {
    letter-spacing: 0.5px;
    padding: 0px 13px;
    font-size: 90%;
    color: gray;
}
.i {
    cursor: pointer;
}
.drop {
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
    width: 100%;
    background: white;
    cursor: pointer;
    border-radius: 5px;
}

.drop p {
    padding: 6px 20px;
}

.drop p:hover {
    background-color: rgb(206, 206, 206);
}

.showDrop {
    display: none;
    background: white;
}


/*PAGINATION*/
.center {
    margin: 40px 0;
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #3248d7;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}


/*COUNTRIES*/
.country-container {
    margin-top: 10px;
    padding-top: 40px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    width: 100%;
    border-radius: 10px;
}

.hide{
    display: none;
}

.block {
    display: block;
}

.a-country {
    background-color: white;
    width: 280px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.a-country .country-details {
    padding: 20px;
}

.flag-div, img {
    width: 280px;
    height: 150px;
}

.a-country .main-details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.a-country .main-details h2 {
    padding-right: 30px;
    width: 60%;
}

.a-country .main-details .capital {
    width: 40%;
}

.a-country .other-details {
    margin-top: 10px;
}

.a-country .other-details table tr th {
    text-align: left;
}

.a-country .other-details table td {
    vertical-align: top;
    padding: 0 0 6px;
}


/*Messages*/
.messageBox {
    margin: 0 auto;
    width: 50%;
    padding: 30px;
    margin: 10px 0 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.messageParagraph{
    text-align: center;
    color: rgb(43, 40, 40);
    font-size: 120%;
    font-weight: 700;

}